{% extends 'base.html.twig' %}

{% block title %}AnimeToWatch - Animes{% endblock %}

{% block body %}
  <div class = "container mt-4 ">
  {% if not animes.items is same as ([]) %}
  
  <h1 class = "d-flex justify-content-center" >Les Animés</h1>
  
  

 {# read and display just one flash message type #}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success mt-4">
        {{ message }}
    </div>
  {% endfor %}  

 
<div class = "container mt-4">
    <div class="flex flex-row flex-wrap justify-evenly mt-8">
       <div class="row mt-4">

        {% for anime in animes %}
        
        <div class = "col-md-3 mt-4">
        <div class="card mt-1">
  <a href= "{{ path('anime_name.index', { 'slug' :anime.name}) }}" >
  <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="225" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
    <rect width="100%" height="100%" fill="#868e96"></rect>
    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">{{anime.name}}</text>
  </svg>
  </a>  
 
  <div class="card-body mt-2">
    <p class = "d-flex justify-content-center">Genre: {{anime.category.name}}</p>
  </div>
    
  
</div>   
</div>  
    
        {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="navigation d-flex justify-content-center mt-4">
    {{ knp_pagination_render(animes) }}
</div>
    {% else %}
    <h4>Il n'y actuellement pas d'animés...</h4>
    {% endif %}
</div>
{% endblock %}
