{% extends 'base.html.twig' %}

{% block title %}AnimeToWatch - Animes{% endblock %}

{% block body %}
  <div class = "container mt-4 ">
  
  <h1 class = "d-flex justify-content-center" >Le Top des tendances animés</h1>

<p class="d-flex justify-content-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ici se trouve la crème de la crème ! Tu trouveras ici les animés classés selon les tendances :</font></font></p>
  

 
<div class = "container mt-4">
    <div class="flex flex-row flex-wrap justify-evenly mt-8">
       <div class="row mt-4">

        {% for anime in animes %}
        
        <div class = "col-md-3 mt-4">
        <div class="card mt-1">
  <a href= "{{ path('anime_name.index', { 'slug' :anime.name}) }}" >
  <img src= "{{anime.image}}" class="d-block user-select-none" width="100%" height="225">
    <h5 class = "d-flex justify-content-center"><font class=" mt-4 fst-italic">{{anime.name}}</font></h5>  
    </a>  
 
  <div class="card-body mt-1">
   <p class = "d-flex justify-content-center">Note : {{anime.average|number_format(2, '.', ',')}}</p>
    <p class = "d-flex justify-content-center">Genre: {{anime.category.name}}</p>
  </div>
</div>   
</div>  
    
        {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="navigation d-flex justify-content-center mt-4">
    {{ knp_pagination_render(animes) }}
</div>
    

</div>
{% endblock %}
